* {
    padding: 0;
    margin: 0;
    font-size: 30px;
}

body {
    background: #343A40;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#baza {
    margin-top: 50px;
}

#row {
    display: flex;
    justify-content: center;
}

.col {
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    background-color: #000;
    color: #fff;
}

.white {
    background-color: #e5e5e5;
    color: #000;
}

.checker {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    transition: .3s;
}

.firstPlayer {
    background-color: #540B0E;
}

.secondPlayer {
    background-color: #073B4C;
}

.active {
    height: 80px;
    width: 80px;
}

.available {
    background-color: blue;
}

.beat {
    background-color: #6c6cff;
}

.kingfirstPlayer {
    border: 6px dashed #f81e2c;
    background-color: #540B0E;
}

.kingsecondPlayer {
    border: 6px dashed #4b58ff;
    background-color: #073B4C;
}